@tailwind base;
@tailwind components;
@tailwind utilities;




/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */

 * {
  font-family: Cairo !important;
  /* direction: rtl !important; */
 }


 .ant-select-selector .ant-select-selection-placeholder{
  color: #696969 !important;
 }
 

 .ant-select-selection-placeholder{
  text-align: right;
 }
 /* .ant-select-selector{
  border-radius: 20px !important;
  background: #fbfbfb !important;
 } */

 /* .ant-select-focused:where(.css-dev-only-do-not-override-er82is).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector{
  border-color: unset !important;
    box-shadow: unset !important;
    outline: unset !important;
 } */

 .ant-select-selector{
  border-radius: 100px !important;
 }

 .choose_country_autocomplete [data-slot="input-wrapper"]:first-child{
  border: none !important
}

.choose_country_autocomplete [data-slot="label"]:first-child{
  @apply pr-2
}

.choose_country_autocomplete input{
  @apply pr-4
}
